@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  height: 100vh;
}

.item {
  background-color: rgba(240, 255, 255, 0.507);
  border: 2px solid black;
  font-family: "century gothic";
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}


